/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body ocupa toda la pantalla y centra el contenido */
body {

  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  /*ckground-color: #f7f7f7;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  position: relative;
   
  background-image: url('fondo.jpg'); /* o 'img/fondo.jpg' si está en subcarpeta */
  background-size: cover;      /* ocupa toda la pantalla */
  background-position: top;
  background-repeat: no-repeat; 
}

/* Contenedor del contenido */
.container {
  /*background-color: rgba(191, 22, 49, 0.5); */
  padding: 0.5rem 0.5rem;
  border-radius: 0px;
  text-align: center;
  position: fixed;
  bottom: 20px;       /* distancia desde la parte inferior */
  left: 50%;          /* mover el contenedor al centro horizontal */
  transform: translateX(-50%); 
}

/* Imagen */
.logo {
 position: fixed;      
  top: 10px;           
  right: 10px;          
  width: 120px;        
  z-index: 1000;
}

/* Título*/
.container h1 {
  color: #f7f7f7;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#date {
  color: #bf1631; /* rojo de Janira */
}
/* Texto */
.container p {
  font-size: 1.2rem;
  opacity: 0.85;
  background-color: rgba(191, 22, 49, 0.7); /* rojo semitransparente */
  padding: 2rem 3rem;        /* espacio interno */
  border-radius: 10px;       /* esquinas redondeadas */
  display: inline-block;     /* se ajusta al contenido */
  color: #fff;  
}

/* Contador */
#countdown {
  font-size: 2rem;
  font-weight: bold;
  color: #bf1631;
  margin-top: 2rem;
}

/* Selector de idioma en esquina superior izquierda */
.lang-switch {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  z-index: 1000;
}
.text-box {
               /* texto blanco */
}
.lang-switch span {
  cursor: pointer;
  font-weight: normal;
  color: #bf1631;
}

.lang-switch span.active {
  font-weight: bold;
}
